// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body{
  height:100%;
}

header {
  width: 100%;
  height: 200px;
  background-color: #00a7db;

  li {
    display: inline-block;
  }

  .title {
    width: 70%;
    padding-left: 20%;
    color: #eee;
  }

  #task-form {
    height: 200px;
    padding-top: 5px;
    padding-bottom: 5px;
  
    .btn {
      margin-top: 10px;
    }
  }
}

.task-head {
  font-size: 130%;
  color: #777;
}

form {
  label {
    color: #eee;
  }
}

#wrap{
  width: 100%;
  position: relative;
  height:auto !important; /*IE6対策*/
  height: 100%; /*IE6対策*/
  min-height: 100%;
  background-color: #f1f1f1;
}

#contents{
  width: 60%;
  margin: 0 auto;
  padding-bottom:100px; /*フッターの高さと同じ*/
}

footer{
  width: 100%;
  height:100px;
  background-color: #00a7db;
  position:absolute;
  bottom:0;
}

.task {
  background-color: #00a7db;
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 1% 10% 2%;

  .update {
    margin-top: 10px;
    width: 60px;
    height: 40px;
  }

  .delete-form {
    height: 0px;

    .delete-btn {
      width: 60px;
      height: 40px;
      margin-left: 70px;
      margin-top: -63px;
    }
  }
}